<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Página Inicial</a>
        <a href="#news">Sala de Aula</a>
        <a href="#contact">Contato</a>
        <a href="#about">Estatísticas</a>
    </div>
    
    {% block content %}{% endblock %}
</body>
</html>